.updates {
    position: absolute;
    width: 300px;
    height: 80%;
    overflow-y: scroll;
    border: 1px solid black;
    border-radius: 10px;
    text-align: left;
    padding: 2px;
    margin-left: 5px;
  }
  
.updates p {
  white-space: pre-line;
}

li {
  list-style: none;
}

#canvas {
  border: 1px solid black;
  position: absolute;
  top: 150px;
  left: 380px;
  width: 700px;
  height: 400px;
}